// =============================================
// Home Page
.home-page-container {
    .carousel-container { 
        @media screen and (max-width: 490px) {
        display: none;
        }
    }
    .header{
      text-align: center;
      font-weight: bold;
      margin: 4px;
      background: #f5dcbb;
    }
    .sub-header{
      text-align: center;
      margin: 4px;
      background: antiquewhite;
    }
    .category-container {
        margin: 0 1rem;
        display: inline-block;
        @media screen and (max-width: 490px) {
          margin: 0 3rem;
        }
        .category {
          box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
          width: 23%;
          min-width: 300px;
          height: 14rem;
          min-height: 200px;
          margin: 2rem 2.5%;
          float:left;
          text-align: center;
          position: relative;
          .name {
            font-weight: bold;
            margin-top: 1rem;
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
          }
        }
    }
}
// Home Page
// ==============================================


// ==============================================
// Contact Page
.contact-container {
    margin: 2rem 8rem;
    @media screen and (max-width: 490px) {
      margin: 1rem 1.5rem;
    }
    .address-tile {
      float:left;
      width:47%;
      min-width: 350px;
      height: 300px;
      overflow: hidden;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      div {
        padding: .5rem;
        .highlight {
          font-weight: bold;
        }
      }
      iframe {
        width: 100%;
        height: 190px;
      }
    }
    .contact-tile {
      float: left;
      width:47%;
      min-width:350px;
      height: 510px;
      padding: 1rem;
      margin: 0 2rem 0 0;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      .contact-table {
        width: 100%;
        height: 450px;
        td {
          text-align: center;
        }
        input {
          height: 2rem;
          width: 62%;
          min-width: 120px;
        }
        textarea {
          width: 62%;
          min-width: 120px;
          height: 9rem;
        }
        label {
          font-weight:bold;
        }
        .highlight {
          color:red;
        }
      }
      .notes{
        float: right;
        font-size:.8em;
        .highlight {
          color:red;
        }
      }
    }
    .contact-person-container {
      margin: 0 0 1rem 0;
      display: inline-block;
      width:47%;
      min-width: 350px;
      @media screen and (max-width: 1004px) {
        display: flex;
      }
      @media screen and (max-width: 972px) {
        display: inline-block;
        margin: 1rem 0 1rem 0;
      }
      .contact-person-tile {
        margin: 0 1rem 0 0;
        float:left;
        .name {
          text-align: center;
          font-size: .8em;
        }
        .mobile {
          text-align: center;
          font-size: .8em;
        }
      }
    }
}
// Contact Page
// ==============================================




// Gallery Page
// ==============================================
.album-container {
  margin: 2rem 8rem;
  padding: 15px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  @media screen and (max-width: 490px) {
    margin: 1rem 1.5rem;
  }
  .image {
    margin: 1rem 2rem;
  }
}
// Gallery Page
// ==================================================


// About Page
// ===================================================
.about-container {
  margin: 2rem 8rem;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  @media screen and (max-width: 490px) {
    margin: 1rem 1.5rem;
  }
  padding: 2rem;
  font-size: 1.2em;
  text-align: justify;
}
// About Page

